In [1]:

# This tells matplotlib not to try opening a new window for each plot.
%matplotlib inline

# General libraries.
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
from datetime import datetime

# SK-learn libraries for learning.
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.grid_search import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split

# SK-learn libraries for evaluation.
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import classification_report

/Users/ryanfitzgerald/anaconda/envs/py27/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/ryanfitzgerald/anaconda/envs/py27/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
 #= pd.read_csv('my_Submission.csv')

train_features = list(train.keys())

X = train.iloc[:, :-3]
y = train.iloc[:, -1]

# split into train/dev
X_train, X_dev, y_train, y_dev = train_test_split(X, y, random_state=1)

X_test = test.iloc[:, :]

date_time = pd.DataFrame(X_test.iloc[:,0])
date_time.reset_index(drop=True, inplace=True)

In [3]:
X_train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
9639,2012-10-06 00:00:00,4,0,0,1,22.96,26.515,83,11.0014
7284,2012-05-02 21:00:00,2,0,1,1,21.32,25.000,77,15.0013
10463,2012-12-02 09:00:00,4,0,0,2,11.48,13.635,93,11.0014
3079,2011-07-17 05:00:00,3,0,0,1,26.24,30.305,69,15.0013
5630,2012-01-09 17:00:00,1,0,1,3,9.02,13.635,87,0.0000

In [4]:
X_train_df = pd.DataFrame(X_train)

In [70]:
df_season = pd.get_dummies(X_train_df['season'])
X_train_transformed_df = pd.concat([X_train_df, df_season], axis=1)

df_weather = pd.get_dummies(X_train_df['weather'])
X_train_transformed_df = pd.concat([X_train_transformed_df, df_weather], axis=1)

X_train_transformed_df.columns = ['datetime','season','holiday','workingday','weather','temp','atemp','humidity', \
                                  'windspeed','spring','summer','fall','winter','clear','mist','snow','rain']
X_train_transformed_df['datetime'] = pd.to_datetime(X_train_transformed_df['datetime'], errors='coerce')
X_train_transformed_df['weekday'] = X_train_transformed_df['datetime'].dt.dayofweek
X_train_transformed_df['timehour'] = X_train_transformed_df['datetime'].dt.hour

df_weekday = pd.get_dummies(X_train_transformed_df['weekday'])
X_train_transformed_df = pd.concat([X_train_transformed_df, df_weekday], axis=1)


X_train_transformed_df.columns = ['datetime','season','holiday','workingday','weather','temp','atemp','humidity', \
                                  'windspeed','spring','summer','fall','winter','clear','mist','snow','rain' , \
                                  'weekday','time hour','monday','tuesday','wednesday','thursday','friday', \
                                  'satuday','sunday']

########   maybe creat a binary variable for tempurature???

X_train_transformed_and_reduced_df=X_train_transformed_df.drop(['season','weather','weekday'], axis=1)

In [71]:
X_train_transformed_and_reduced_df

,datetime,holiday,workingday,temp,atemp,humidity,windspeed,spring,summer,fall,...,snow,rain,time hour,monday,tuesday,wednesday,thursday,friday,satuday,sunday
9639,2012-10-06 00:00:00,0,0,22.96,26.515,83,11.0014,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7284,2012-05-02 21:00:00,0,1,21.32,25.000,77,15.0013,0,1,0,...,0,0,21,0,0,1,0,0,0,0
10463,2012-12-02 09:00:00,0,0,11.48,13.635,93,11.0014,0,0,0,...,0,0,9,0,0,0,0,0,0,1
3079,2011-07-17 05:00:00,0,0,26.24,30.305,69,15.0013,0,0,1,...,0,0,5,0,0,0,0,0,0,1
5630,2012-01-09 17:00:00,0,1,9.02,13.635,87,0.0000,1,0,0,...,1,0,17,1,0,0,0,0,0,0
1883,2011-05-05 09:00:00,0,1,18.86,22.725,44,19.0012,0,1,0,...,0,0,9,0,0,0,1,0,0,0
669,2011-02-11 05:00:00,0,1,3.28,6.060,63,6.0032,1,0,0,...,0,0,5,0,0,0,0,1,0,0
8554,2012-07-17 19:00:00,0,1,36.08,39.395,35,16.9979,0,0,1,...,0,0,19,0,1,0,0,0,0,0
9000,2012-08-17 09:00:00,0,1,28.70,12.120,58,7.0015,0,0,1,...,0,0,9,0,0,0,0,1,0,0
602,2011-02-08 06:00:00,0,1,10.66,11.365,70,22.0028,1,0,0,...,0,0,6,0,1,0,0,0,0,0
6616,2012-03-12 23:00:00,0,1,22.96,26.515,56,15.0013,1,0,0,...,0,0,23,1,0,0,0,0,0,0
6070,2012-02-09 04:00:00,0,1,9.02,9.850,75,30.0026,1,0,0,...,0,0,4,0,0,0,1,0,0,0
10617,2012-12-08 19:00:00,0,0,16.40,20.455,87,0.0000,0,0,0,...,0,0,19,0,0,0,0,0,1,0
9235,2012-09-08 04:00:00,0,0,27.06,29.545,94,15.0013,0,0,1,...,0,0,4,0,0,0,0,0,1,0
7331,2012-05-04 20:00:00,0,1,27.88,31.820,51,7.0015,0,1,0,...,0,0,20,0,0,0,0,1,0,0
3013,2011-07-14 11:00:00,0,1,29.52,32.575,37,15.0013,0,0,1,...,0,0,11,0,0,0,1,0,0,0
8433,2012-07-12 18:00:00,0,1,31.16,34.090,45,8.9981,0,0,1,...,0,0,18,0,0,0,1,0,0,0
7747,2012-06-03 04:00:00,0,0,20.50,24.240,72,6.0032,0,1,0,...,0,0,4,0,0,0,0,0,0,1
8900,2012-08-13 05:00:00,0,1,26.24,30.305,69,7.0015,0,0,1,...,0,0,5,1,0,0,0,0,0,0
9572,2012-10-03 05:00:00,0,1,25.42,27.275,94,7.0015,0,0,0,...,0,0,5,0,0,1,0,0,0,0
3798,2011-09-09 06:00:00,0,1,25.42,25.760,100,8.9981,0,0,1,...,0,0,6,0,0,0,0,1,0,0
4355,2011-10-13 12:00:00,0,1,25.42,28.030,88,0.0000,0,0,0,...,0,0,12,0,0,0,1,0,0,0
5542,2012-01-06 01:00:00,0,1,9.02,13.635,75,0.0000,1,0,0,...,0,0,1,0,0,0,0,1,0,0
7149,2012-04-16 06:00:00,1,0,21.32,25.000,83,11.0014,0,1,0,...,0,0,6,1,0,0,0,0,0,0
4434,2011-10-16 19:00:00,0,0,22.14,25.760,52,26.0027,0,0,0,...,0,0,19,0,0,0,0,0,0,1
7767,2012-06-04 00:00:00,0,1,23.78,27.275,53,0.0000,0,1,0,...,0,0,0,1,0,0,0,0,0,0
3933,2011-09-14 22:00:00,0,1,27.06,31.060,65,8.9981,0,0,1,...,0,0,22,0,0,1,0,0,0,0
7699,2012-06-01 04:00:00,0,1,25.42,29.545,73,6.0032,0,1,0,...,0,0,4,0,0,0,0,1,0,0
6780,2012-03-19 19:00:00,0,1,25.42,30.305,61,15.0013,1,0,0,...,0,0,19,1,0,0,0,0,0,0
5212,2011-12-11 06:00:00,0,0,6.56,11.365,59,0.0000,0,0,0,...,0,0,6,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6121,2012-02-11 07:00:00,0,0,9.02,11.365,93,8.9981,1,0,0,...,1,0,7,0,0,0,0,0,1,0
6285,2012-02-18 03:00:00,0,0,11.48,14.395,65,7.0015,1,0,0,...,0,0,3,0,0,0,0,0,1,0
1110,2011-03-10 21:00:00,0,1,14.76,17.425,0,15.0013,1,0,0,...,1,0,21,0,0,0,1,0,0,0
1888,2011-05-05 14:00:00,0,1,22.14,25.760,28,30.0026,0,1,0,...,0,0,14,0,0,0,1,0,0,0
9719,2012-10-09 08:00:00,0,1,17.22,21.210,80,12.9980,0,0,0,...,0,0,8,0,1,0,0,0,0,0
753,2011-02-14 18:00:00,0,1,16.40,20.455,40,40.9973,1,0,0,...,0,0,18,1,0,0,0,0,0,0
3049,2011-07-15 23:00:00,0,1,26.24,31.060,61,11.0014,0,0,1,...,0,0,23,0,0,0,0,1,0,0
8151,2012-07-01 00:00:00,0,0,31.16,36.365,66,0.0000,0,0,1,...,0,0,0,0,0,0,0,0,0,1
10820,2012-12-17 06:00:00,0,1,14.76,17.425,93,8.9981,0,0,0,...,0,0,6,1,0,0,0,0,0,0
562,2011-02-06 14:00:00,0,0,13.94,17.425,46,6.0032,1,0,0,...,0,0,14,0,0,0,0,0,0,1
6542,2012-03-09 20:00:00,0,1,15.58,19.695,32,23.9994,1,0,0,...,0,0,20,0,0,0,0,1,0,0
8093,2012-06-17 14:00:00,0,0,26.24,31.060,53,0.0000,0,1,0,...,0,0,14,0,0,0,0,0,0,1
4764,2011-11-11 14:00:00,1,0,15.58,19.695,37,31.0009,0,0,0,...,0,0,14,0,0,0,0,1,0,0
3562,2011-08-18 08:00:00,0,1,27.06,31.060,74,19.0012,0,0,1,...,0,0,8,0,0,0,1,0,0,0
8444,2012-07-13 05:00:00,0,1,27.06,31.820,56,6.0032,0,0,1,...,0,0,5,0,0,0,0,1,0,0
2516,2011-06-12 18:00:00,0,0,28.70,33.335,74,11.0014,0,1,0,...,0,0,18,0,0,0,0,0,0,1
2962,2011-07-12 08:00:00,0,1,31.16,35.605,58,15.0013,0,0,1,...,0,0,8,0,1,0,0,0,0,0
5374,2011-12-18 00:00:00,0,0,8.20,10.605,75,8.9981,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5396,2011-12-18 22:00:00,0,0,9.02,11.365,75,12.9980,0,0,0,...,0,0,22,0,0,0,0,0,0,1
9394,2012-09-14 19:00:00,0,1,27.88,31.820,57,11.0014,0,0,1,...,0,0,19,0,0,0,0,1,0,0
3462,2011-08-14 04:00:00,0,0,26.24,28.030,94,12.9980,0,0,1,...,1,0,4,0,0,0,0,0,0,1
7751,2012-06-03 08:00:00,0,0,22.14,25.760,60,6.0032,0,1,0,...,0,0,8,0,0,0,0,0,0,1
4225,2011-10-08 02:00:00,0,0,18.86,22.725,82,0.0000,0,0,0,...,0,0,2,0,0,0,0,0,1,0
144,2011-01-07 07:00:00,0,1,8.20,10.605,69,8.9981,1,0,0,...,0,0,7,0,0,0,0,1,0,0
5056,2011-12-04 18:00:00,0,0,15.58,19.695,71,0.0000,0,0,0,...,0,0,18,0,0,0,0,0,0,1
2895,2011-07-09 13:00:00,0,0,33.62,37.120,41,15.0013,0,0,1,...,0,0,13,0,0,0,0,0,1,0
7813,2012-06-05 22:00:00,0,1,22.96,26.515,52,7.0015,0,1,0,...,0,0,22,0,1,0,0,0,0,0
905,2011-03-02 04:00:00,0,1,8.20,10.605,75,8.9981,1,0,0,...,0,0,4,0,0,1,0,0,0,0
5192,2011-12-10 10:00:00,0,0,13.12,15.150,57,16.9979,0,0,0,...,0,0,10,0,0,0,0,0,1,0
235,2011-01-11 02:00:00,0,1,6.56,7.575,55,12.9980,1,0,0,...,0,0,2,0,1,0,0,0,0,0

In [74]:
X_test_df = pd.DataFrame(X_test)
X_test_df.reset_index(drop=True, inplace=True)

df_season = pd.get_dummies(X_test_df['season'])
X_test_transformed_df = pd.concat([X_test_df, df_season], axis=1)

df_weather = pd.get_dummies(X_test_df['weather'])
X_test_transformed_df = pd.concat([X_test_transformed_df, df_weather], axis=1)

X_test_transformed_df.columns = ['datetime','season','holiday','workingday','weather','temp','atemp','humidity', \
                                  'windspeed','spring','summer','fall','winter','clear','mist','snow','rain']
X_test_transformed_df['datetime'] = pd.to_datetime(X_test_transformed_df['datetime'], errors='coerce')
X_test_transformed_df['weekday'] = X_test_transformed_df['datetime'].dt.dayofweek
X_test_transformed_df['timehour'] = X_test_transformed_df['datetime'].dt.hour

df_weekday = pd.get_dummies(X_test_transformed_df['weekday'])
X_test_transformed_df = pd.concat([X_test_transformed_df, df_weekday], axis=1)


X_test_transformed_df.columns = ['datetime','season','holiday','workingday','weather','temp','atemp','humidity', \
                                  'windspeed','spring','summer','fall','winter','clear','mist','snow','rain' , \
                                  'weekday','timehour','monday','tuesday','wednesday','thursday','friday', \
                                 'satuday','sunday']


X_test_transformed_and_reduced_df = X_test_transformed_df.drop(['season','weather','weekday'], axis=1)

In [75]:
X_test_transformed_and_reduced_df

,datetime,holiday,workingday,temp,atemp,humidity,windspeed,spring,summer,fall,...,snow,rain,timehour,monday,tuesday,wednesday,thursday,friday,satuday,sunday
0,2011-01-20 00:00:00,0,1,10.66,11.365,56,26.0027,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2011-01-20 01:00:00,0,1,10.66,13.635,56,0.0000,1,0,0,...,0,0,1,0,0,0,1,0,0,0
2,2011-01-20 02:00:00,0,1,10.66,13.635,56,0.0000,1,0,0,...,0,0,2,0,0,0,1,0,0,0
3,2011-01-20 03:00:00,0,1,10.66,12.880,56,11.0014,1,0,0,...,0,0,3,0,0,0,1,0,0,0
4,2011-01-20 04:00:00,0,1,10.66,12.880,56,11.0014,1,0,0,...,0,0,4,0,0,0,1,0,0,0
5,2011-01-20 05:00:00,0,1,9.84,11.365,60,15.0013,1,0,0,...,0,0,5,0,0,0,1,0,0,0
6,2011-01-20 06:00:00,0,1,9.02,10.605,60,15.0013,1,0,0,...,0,0,6,0,0,0,1,0,0,0
7,2011-01-20 07:00:00,0,1,9.02,10.605,55,15.0013,1,0,0,...,0,0,7,0,0,0,1,0,0,0
8,2011-01-20 08:00:00,0,1,9.02,10.605,55,19.0012,1,0,0,...,0,0,8,0,0,0,1,0,0,0
9,2011-01-20 09:00:00,0,1,9.84,11.365,52,15.0013,1,0,0,...,0,0,9,0,0,0,1,0,0,0
10,2011-01-20 10:00:00,0,1,10.66,11.365,48,19.9995,1,0,0,...,0,0,10,0,0,0,1,0,0,0
11,2011-01-20 11:00:00,0,1,11.48,13.635,45,11.0014,1,0,0,...,0,0,11,0,0,0,1,0,0,0
12,2011-01-20 12:00:00,0,1,12.30,16.665,42,0.0000,1,0,0,...,0,0,12,0,0,0,1,0,0,0
13,2011-01-20 13:00:00,0,1,11.48,14.395,45,7.0015,1,0,0,...,0,0,13,0,0,0,1,0,0,0
14,2011-01-20 14:00:00,0,1,12.30,15.150,45,8.9981,1,0,0,...,0,0,14,0,0,0,1,0,0,0
15,2011-01-20 15:00:00,0,1,13.12,15.910,45,12.9980,1,0,0,...,0,0,15,0,0,0,1,0,0,0
16,2011-01-20 16:00:00,0,1,12.30,15.150,49,8.9981,1,0,0,...,0,0,16,0,0,0,1,0,0,0
17,2011-01-20 17:00:00,0,1,12.30,15.910,49,7.0015,1,0,0,...,0,0,17,0,0,0,1,0,0,0
18,2011-01-20 18:00:00,0,1,10.66,12.880,56,12.9980,1,0,0,...,0,0,18,0,0,0,1,0,0,0
19,2011-01-20 19:00:00,0,1,10.66,11.365,56,22.0028,1,0,0,...,0,0,19,0,0,0,1,0,0,0
20,2011-01-20 20:00:00,0,1,10.66,12.120,60,19.0012,1,0,0,...,0,0,20,0,0,0,1,0,0,0
21,2011-01-20 21:00:00,0,1,9.84,11.365,60,16.9979,1,0,0,...,0,0,21,0,0,0,1,0,0,0
22,2011-01-20 22:00:00,0,1,9.84,10.605,65,19.0012,1,0,0,...,0,0,22,0,0,0,1,0,0,0
23,2011-01-20 23:00:00,0,1,9.84,10.605,65,22.0028,1,0,0,...,0,0,23,0,0,0,1,0,0,0
24,2011-01-21 00:00:00,0,1,9.84,11.365,70,16.9979,1,0,0,...,0,0,0,0,0,0,0,1,0,0
25,2011-01-21 01:00:00,0,1,9.84,11.365,70,16.9979,1,0,0,...,0,0,1,0,0,0,0,1,0,0
26,2011-01-21 02:00:00,0,1,9.84,12.120,75,11.0014,1,0,0,...,1,0,2,0,0,0,0,1,0,0
27,2011-01-21 03:00:00,0,1,9.02,10.605,80,19.9995,1,0,0,...,1,0,3,0,0,0,0,1,0,0
28,2011-01-21 04:00:00,0,1,9.02,12.880,87,6.0032,1,0,0,...,0,0,4,0,0,0,0,1,0,0
29,2011-01-21 05:00:00,0,1,9.84,9.850,60,27.9993,1,0,0,...,0,0,5,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,2012-12-30 18:00:00,0,0,9.84,10.605,44,19.9995,1,0,0,...,0,0,18,0,0,0,0,0,0,1
6464,2012-12-30 19:00:00,0,0,13.94,18.180,61,0.0000,1,0,0,...,0,0,19,0,0,0,0,0,0,1
6465,2012-12-30 20:00:00,0,0,9.02,9.850,47,22.0028,1,0,0,...,0,0,20,0,0,0,0,0,0,1
6466,2012-12-30 21:00:00,0,0,8.20,10.605,51,11.0014,1,0,0,...,0,0,21,0,0,0,0,0,0,1
6467,2012-12-30 22:00:00,0,0,8.20,9.850,55,12.9980,1,0,0,...,0,0,22,0,0,0,0,0,0,1
6468,2012-12-30 23:00:00,0,0,8.20,9.850,51,15.0013,1,0,0,...,0,0,23,0,0,0,0,0,0,1
6469,2012-12-31 00:00:00,0,1,7.38,9.090,55,12.9980,1,0,0,...,0,0,0,1,0,0,0,0,0,0
6470,2012-12-31 01:00:00,0,1,7.38,9.090,55,12.9980,1,0,0,...,0,0,1,1,0,0,0,0,0,0
6471,2012-12-31 02:00:00,0,1,6.56,8.335,59,11.0014,1,0,0,...,0,0,2,1,0,0,0,0,0,0
6472,2012-12-31 03:00:00,0,1,6.56,9.090,59,7.0015,1,0,0,...,0,0,3,1,0,0,0,0,0,0
6473,2012-12-31 04:00:00,0,1,5.74,8.335,69,7.0015,1,0,0,...,0,0,4,1,0,0,0,0,0,0
6474,2012-12-31 05:00:00,0,1,6.56,7.575,64,12.9980,1,0,0,...,0,0,5,1,0,0,0,0,0,0
6475,2012-12-31 06:00:00,0,1,6.56,8.335,64,11.0014,1,0,0,...,0,0,6,1,0,0,0,0,0,0
6476,2012-12-31 07:00:00,0,1,6.56,9.090,64,8.9981,1,0,0,...,0,0,7,1,0,0,0,0,0,0
6477,2012-12-31 08:00:00,0,1,5.74,7.575,69,8.9981,1,0,0,...,0,0,8,1,0,0,0,0,0,0
6478,2012-12-31 09:00:00,0,1,7.38,10.605,64,7.0015,1,0,0,...,0,0,9,1,0,0,0,0,0,0
6479,2012-12-31 10:00:00,0,1,8.20,10.605,69,8.9981,1,0,0,...,0,0,10,1,0,0,0,0,0,0
6480,2012-12-31 11:00:00,0,1,9.02,11.365,60,12.9980,1,0,0,...,0,0,11,1,0,0,0,0,0,0
6481,2012-12-31 12:00:00,0,1,9.84,11.365,56,12.9980,1,0,0,...,0,0,12,1,0,0,0,0,0,0
6482,2012-12-31 13:00:00,0,1,10.66,12.880,44,11.0014,1,0,0,...,0,0,13,1,0,0,0,0,0,0
6483,2012-12-31 14:00:00,0,1,11.48,13.635,45,15.0013,1,0,0,...,0,0,14,1,0,0,0,0,0,0
6484,2012-12-31 15:00:00,0,1,11.48,14.395,45,8.9981,1,0,0,...,0,0,15,1,0,0,0,0,0,0
6485,2012-12-31 16:00:00,0,1,10.66,12.880,48,12.9980,1,0,0,...,0,0,16,1,0,0,0,0,0,0
6486,2012-12-31 17:00:00,0,1,10.66,14.395,48,6.0032,1,0,0,...,0,0,17,1,0,0,0,0,0,0
6487,2012-12-31 18:00:00,0,1,10.66,13.635,48,8.9981,1,0,0,...,0,0,18,1,0,0,0,0,0,0
6488,2012-12-31 19:00:00,0,1,10.66,12.880,60,11.0014,1,0,0,...,0,0,19,1,0,0,0,0,0,0
6489,2012-12-31 20:00:00,0,1,10.66,12.880,60,11.0014,1,0,0,...,0,0,20,1,0,0,0,0,0,0
6490,2012-12-31 21:00:00,0,1,10.66,12.880,60,11.0014,1,0,0,...,0,0,21,1,0,0,0,0,0,0
6491,2012-12-31 22:00:00,0,1,10.66,13.635,56,8.9981,1,0,0,...,0,0,22,1,0,0,0,0,0,0
6492,2012-12-31 23:00:00,0,1,10.66,13.635,65,8.9981,1,0,0,...,0,0,23,1,0,0,0,0,0,0

In [78]:
#make predictions

#lm
X_train_transformed_and_reduced_df.to_csv("train_data_transformed.csv", index=False)
X_train_transformed = pd.read_csv('train_data_transformed.csv')

X_test_transformed_and_reduced_df.to_csv("test_data_transformed.csv", index=False)
X_test_transformed = pd.read_csv('test_data_transformed.csv')

lm2 = LinearRegression()
lm2.fit(X_train_transformed.iloc[:,2:], y_train)
predictionsLM2 = lm2.predict(X_test_transformed.iloc[:,2:])

In [80]:
#X_train_transformed.iloc[:,2:]

In [81]:
#lm
submission_countLM = pd.DataFrame(predictionsLM2)
submission_countLM[submission_countLM < 0] = 0

submissionLM = pd.concat([date_time,submission_countLM], axis=1)
submissionLM.columns = ['datetime','count']

In [85]:
#KNN

#A)length of documents and number of feature

#initiate instance for K-nearest Neighbors, fit to vectorized train data, and predict from vectorized test data
KNN = KNeighborsClassifier(n_neighbors = 1)
#classifierKNN = KNN.fit(X_train_transformed.iloc[:,2:], y_train)
#predictionsKNN = KNN.predict(X_dev.iloc[:,1:])

#calculate f1 score
#f1KNN = metrics.f1_score(y_dev, predictionsKNN, average = 'weighted')
#print "F1 Score for K-Nearest Neighbors with k=1: %3.2f" %(f1KNN)

#determine optimal parameter k by setting range for k and leveraging GridSearchCV
k_range = np.arange(30) + 1
kParameters = {'n_neighbors': k_range} 
optimalKNN = GridSearchCV(KNN, kParameters, cv = 10)
optimalKNN.fit(X_train_transformed.iloc[:,2:], y_train)
print "Optimal value of k for K Nearest Neighbors: ", (optimalKNN.best_params_), "\n"

/Users/ryanfitzgerald/anaconda/envs/py27/lib/python2.7/site-packages/sklearn/cross_validation.py:552: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of labels for any class cannot be less than n_folds=10.
  % (min_labels, self.n_folds)), Warning)

Optimal value of k for K Nearest Neighbors:  {'n_neighbors': 7}

In [86]:
#Multinomial Naive Bayes    

#initiate default Multinomial Naive Bayes, fit to vectorized train data, and predict from vectorized test data
Mult = MultinomialNB(alpha = 0.5358)
#classifierMNB = Mult.fit(X_train_transformed.iloc[:,2:], y_train)
#predictionsMNB = Mult.predict(X_dev.iloc[:,1:])

#calculate f1 score for Multinomial Naive Bayes fit.
#f1MNB = metrics.f1_score(y_dev, predictionsMNB, average = 'weighted')
#print "F1 Score for Multinomial Naive Bayes with alpha=0.5358: %3.2f" %(f1MNB)

#determine optimal parameter alpha by setting range for alpha and leveraging GridSearchCV
alpha_range = np.linspace(0.001, 1, num=100)
alphaParameters = {'alpha': alpha_range}
optimalMNB = GridSearchCV(Mult, alphaParameters, cv = 10)
optimalMNB.fit(X_train_transformed.iloc[:,2:], y_train)
print "Optimal value of alpha for Multinomial Naive Bayes: ", optimalMNB.best_params_, "\n"

Optimal value of alpha for Multinomial Naive Bayes:  {'alpha': 0.92936363636363639}

In [87]:
KNN2 = KNeighborsClassifier(n_neighbors = 7)
classifierKNN2 = KNN2.fit(X_train_transformed.iloc[:,2:], y_train)
predictionsKNN2 = KNN2.predict(X_test_transformed.iloc[:,2:])


Mult2 = MultinomialNB(alpha=0.92936363636363639)
classifierMNB2 = Mult2.fit(X_train_transformed.iloc[:,2:], y_train)
predictionsMNB2 = Mult2.predict(X_test_transformed.iloc[:,2:])

In [88]:
#knn
submission_countKNN = pd.DataFrame(predictionsKNN2)
submission_countKNN[submission_countKNN < 0] = 0

submissionKNN = pd.concat([date_time,submission_countKNN], axis=1)
submissionKNN.columns = ['datetime','count']

#MNB
submission_countMNB = pd.DataFrame(predictionsMNB2)
submission_countMNB[submission_countMNB < 0] = 0

submissionMNB = pd.concat([date_time,submission_countMNB], axis=1)
submissionMNB.columns = ['datetime','count']

In [94]:
submissionKNN

                 datetime  count
0     2011-01-20 00:00:00      3
1     2011-01-20 01:00:00      4
2     2011-01-20 02:00:00      4
3     2011-01-20 03:00:00      1
4     2011-01-20 04:00:00     27
5     2011-01-20 05:00:00      1
6     2011-01-20 06:00:00      1
7     2011-01-20 07:00:00      1
8     2011-01-20 08:00:00    124
9     2011-01-20 09:00:00     89
10    2011-01-20 10:00:00     79
11    2011-01-20 11:00:00     86
12    2011-01-20 12:00:00     78
13    2011-01-20 13:00:00     59
14    2011-01-20 14:00:00     91
15    2011-01-20 15:00:00     91
16    2011-01-20 16:00:00    119
17    2011-01-20 17:00:00    119
18    2011-01-20 18:00:00     50
19    2011-01-20 19:00:00     37
20    2011-01-20 20:00:00     77
21    2011-01-20 21:00:00     23
22    2011-01-20 22:00:00     28
23    2011-01-20 23:00:00     28
24    2011-01-21 00:00:00      4
25    2011-01-21 01:00:00      2
26    2011-01-21 02:00:00      1
27    2011-01-21 03:00:00      2
28    2011-01-21 04:00:00      6
29    2011-01-21 05:00:00      2
...                   ...    ...
6463  2012-12-30 18:00:00     68
6464  2012-12-30 19:00:00     82
6465  2012-12-30 20:00:00     56
6466  2012-12-30 21:00:00      8
6467  2012-12-30 22:00:00     15
6468  2012-12-30 23:00:00      6
6469  2012-12-31 00:00:00      1
6470  2012-12-31 01:00:00      1
6471  2012-12-31 02:00:00      1
6472  2012-12-31 03:00:00     12
6473  2012-12-31 04:00:00      4
6474  2012-12-31 05:00:00      2
6475  2012-12-31 06:00:00      1
6476  2012-12-31 07:00:00      1
6477  2012-12-31 08:00:00      4
6478  2012-12-31 09:00:00      3
6479  2012-12-31 10:00:00     72
6480  2012-12-31 11:00:00     47
6481  2012-12-31 12:00:00     39
6482  2012-12-31 13:00:00     86
6483  2012-12-31 14:00:00     56
6484  2012-12-31 15:00:00     91
6485  2012-12-31 16:00:00     82
6486  2012-12-31 17:00:00     52
6487  2012-12-31 18:00:00     54
6488  2012-12-31 19:00:00     21
6489  2012-12-31 20:00:00     21
6490  2012-12-31 21:00:00     21
6491  2012-12-31 22:00:00     53
6492  2012-12-31 23:00:00     46

[6493 rows x 2 columns]

In [95]:
submissionKNN.to_csv("Trial 2 - KNN.csv", index=False)